[core]
[user]
	email = DustinSpecker@DustinSpecker.com
	name = Dustin Specker
[push]
	default = simple
[alias]
	ap = add -p
	bd = branch -d
	branches = branch -a
	c = commit
	ca = commit --amend
	ci = commit
	cia = commit --amend --no-edit
	cm = commit -m
	co = checkout
	edit = !git reset --soft head^ && git reset .
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --
	p = push -u origin head
	rc = !sh -c 'git c -m "\""chore(release): bump version to $1"\""' -
	remotes = remote -v
	sp = stash pop
	ss = stash
	st = status -sb
	tags = tag -l
	watch = !watch -c git lg
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[diff]
	algorithm = patience
[pull]
	rebase = true
[pager]
	diff = diff-so-fancy | less --tabs=4 -RFX
	show = diff-so-fancy | less --tabs=4 -RFX
